﻿@{
    ViewBag.Title = "EAC Survey";
}

<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- plugins:css -->
    <link rel="stylesheet" href="../Contents/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../Contents/vendors/base/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <link rel="stylesheet" href="../Contents/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="../Contents/css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="../Contents/images/logo/eaclogoonly.png" />
</head>
<body>
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="navbar-brand-wrapper d-flex justify-content-center">
                <div class="navbar-brand-inner-wrapper d-flex justify-content-between align-items-center w-100">
                    <a class="navbar-brand brand-logo" href="index.html"><img src="../Contents/images/logo/eaclogo.png" alt="logo" /></a>
                    <a class="navbar-brand brand-logo-mini" href="index.html"><img src="../Contents/images/logo/eaclogoonly.png" alt="logo" /></a>
                    <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                        <span class="mdi mdi-sort-variant"></span>
                    </button>
                </div>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
                <ul class="navbar-nav mr-lg-4 w-100">
                    <li class="nav-item nav-search d-none d-lg-block w-100">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="search">
                                    <i class="mdi mdi-magnify"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control" placeholder="Search now" aria-label="search" aria-describedby="search">
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item dropdown mr-1">
                        <a class="nav-link count-indicator dropdown-toggle d-flex justify-content-center align-items-center" id="messageDropdown" href="#" data-toggle="dropdown">
                            <i class="mdi mdi-message-text mx-0"></i>
                            <span class="count"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="messageDropdown">
                            <p class="mb-0 font-weight-normal float-left dropdown-header">Messages</p>
                            <a class="dropdown-item">
                                <div class="item-thumbnail">
                                    <img src="images/faces/face4.jpg" alt="image" class="profile-pic">
                                </div>
                                <div class="item-content flex-grow">
                                    <h6 class="ellipsis font-weight-normal">
                                        David Grey
                                    </h6>
                                    <p class="font-weight-light small-text text-muted mb-0">
                                        The meeting is cancelled
                                    </p>
                                </div>
                            </a>
                            <a class="dropdown-item">
                                <div class="item-thumbnail">
                                    <img src="images/faces/face2.jpg" alt="image" class="profile-pic">
                                </div>
                                <div class="item-content flex-grow">
                                    <h6 class="ellipsis font-weight-normal">
                                        Tim Cook
                                    </h6>
                                    <p class="font-weight-light small-text text-muted mb-0">
                                        New product launch
                                    </p>
                                </div>
                            </a>
                            <a class="dropdown-item">
                                <div class="item-thumbnail">
                                    <img src="images/faces/face3.jpg" alt="image" class="profile-pic">
                                </div>
                                <div class="item-content flex-grow">
                                    <h6 class="ellipsis font-weight-normal">
                                        Johnson
                                    </h6>
                                    <p class="font-weight-light small-text text-muted mb-0">
                                        Upcoming board meeting
                                    </p>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li class="nav-item dropdown mr-4">
                        <a class="nav-link count-indicator dropdown-toggle d-flex align-items-center justify-content-center notification-dropdown" id="notificationDropdown" href="#" data-toggle="dropdown">
                            <i class="mdi mdi-bell mx-0"></i>
                            <span class="count"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="notificationDropdown">
                            <p class="mb-0 font-weight-normal float-left dropdown-header">Notifications</p>
                            <a class="dropdown-item">
                                <div class="item-thumbnail">
                                    <div class="item-icon bg-success">
                                        <i class="mdi mdi-information mx-0"></i>
                                    </div>
                                </div>
                                <div class="item-content">
                                    <h6 class="font-weight-normal">Application Error</h6>
                                    <p class="font-weight-light small-text mb-0 text-muted">
                                        Just now
                                    </p>
                                </div>
                            </a>
                            <a class="dropdown-item">
                                <div class="item-thumbnail">
                                    <div class="item-icon bg-warning">
                                        <i class="mdi mdi-settings mx-0"></i>
                                    </div>
                                </div>
                                <div class="item-content">
                                    <h6 class="font-weight-normal">Settings</h6>
                                    <p class="font-weight-light small-text mb-0 text-muted">
                                        Private message
                                    </p>
                                </div>
                            </a>
                            <a class="dropdown-item">
                                <div class="item-thumbnail">
                                    <div class="item-icon bg-info">
                                        <i class="mdi mdi-account-box mx-0"></i>
                                    </div>
                                </div>
                                <div class="item-content">
                                    <h6 class="font-weight-normal">New user registration</h6>
                                    <p class="font-weight-light small-text mb-0 text-muted">
                                        2 days ago
                                    </p>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li class="nav-item nav-profile dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                            @*<img src="images/faces/face5.jpg" alt="profile" />*@
                            <span class="nav-profile-name">Administrator</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                            <a class="dropdown-item">
                                <i class="mdi mdi-settings text-primary"></i>
                                Settings
                            </a>
                            <a class="dropdown-item">
                                <i class="mdi mdi-logout text-primary"></i>
                                Logout
                            </a>
                        </div>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="mdi mdi-menu"></span>
                </button>
            </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">



              <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link " href="../EACSurvey/Index">
                        <i class="mdi mdi-home menu-icon"></i>
                        <span class="menu-title">Home</span>
                    </a>
                </li>
                   
                <li class="nav-item ">
                    <a class="nav-link" data-toggle="collapse" href="#deptMenu" aria-expanded="false" aria-controls="auth">
                        <i class="mdi mdi-sitemap menu-icon"></i>
                        <span class="menu-title">Departments</span>
                        <i class="menu-arrow"></i>

                    </a>
                        <div class="collapse" id="deptMenu">
                            <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link" href="../EACSurvey/Departments"> List of Department</a></li>
                            <li class="nav-item"> <a class="nav-link" href="../EACSurvey/CreateDepartment"> Create New Department </a></li>
                            </ul>
                        </div>
                </li>

                    <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#respMenu" aria-expanded="false" aria-controls="auth">
                        <i class="mdi mdi-account-star menu-icon"></i>
                        <span class="menu-title">Respondents</span>
                        <i class="menu-arrow"></i>

                    </a>
                    <div class="collapse" id="respMenu">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link" href="../EACSurvey/Students"> Students</a></li>
                            <li class="nav-item"> <a class="nav-link" href="../EACSurvey/Parents"> Parent/Guardian </a></li>
                            <li class="nav-item"> <a class="nav-link" href="../EACSurvey/Guests"> Guest/Visitor </a></li>
                            <li class="nav-item"> <a class="nav-link" href="../EACSurvey/Alumni"> Alumni </a></li>
                            <li class="nav-item"> <a class="nav-link" href="../EACSurvey/TeachingEmployee"> Teaching Employee </a></li>
                            <li class="nav-item"> <a class="nav-link" href="../EACSurvey/NonTeachingEmployee"> Non-Teaching Employee </a></li>
                        </ul>
                    </div>
                </li>

                    <li class="nav-item">
                    <a class="nav-link" href="../EACSurvey/EvaluationForm">
                        <i class="mdi mdi-folder menu-icon"></i>
                        <span class="menu-title">Evaluation Form</span>
                    </a>
                </li>

                    
                    <li class="nav-item">
                    <a class="nav-link" href="../EACSurvey/Reports">
                        <i class="mdi mdi-chart-line menu-icon"></i>
                        <span class="menu-title">Reports</span>

                    </a>
                </li>

                    
                    <li class="nav-item">
                    <a class="nav-link" href="../EACSurvey/Comments">
                        <i class="mdi mdi-comment-text menu-icon"></i>
                        <span class="menu-title">Comments & Suggestions </span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- partial -->
            
        <div class="main-panel">
            <div class="content-wrapper">

             @RenderBody() 



                       </div>
            <!-- content-wrapper ends -->
            <!-- partial:partials/_footer.html -->
            <footer class="footer">
                <div class="d-sm-flex justify-content-center justify-content-sm-between">
                    <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2020 . All rights reserved.</span>
                    @*<span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="mdi mdi-heart text-danger"></i></span>*@
                </div>
            </footer>
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
              </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="../Contents/vendors/base/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <script src="../Contents/vendors/chart.js/Chart.min.js"></script>
    <script src="../Contents/vendors/datatables.net/jquery.dataTables.js"></script>
    <script src="../Contents/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="../Contents/js/off-canvas.js"></script>
    <script src="../Contents/js/hoverable-collapse.js"></script>
    <script src="../Contents/js/template.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="../Contents/js/dashboard.js"></script>
    <script src="../Contents/js/data-table.js"></script>
    <script src="../Contents/js/jquery.dataTables.js"></script>
    <script src="../Contents/js/dataTables.bootstrap4.js"></script>
    <!-- End custom js for this page-->
</body>

</html>


